<% unless user_signed_in? %>
    <div class="alert alert-info">
      To pilot a ship you have to be logged in.
      <%= link_to 'log in', new_user_session_path, :class => "alert-link" %>
      or
      <%= link_to 'sign up', new_user_registration_path, :class => "alert-link" %>
    </div>
<% end %>
<div class="jumbotron jumbotron-welcome">
  <h1>Starport Operations Center</h1>
    <p>Build your very own starship and pilot it around the galaxy. Spread wow factor across the universe.</p>
  <% if user_signed_in? %>
      <p>
        <%= link_to "Go To User Dashboard", dashboard_path, :class => "btn btn-primary btn-lg" %>
      </p>
  <% else %>
      <p>
        <%= link_to "Get Started", new_user_session_path, :class => "btn btn-primary btn-lg" %>
      </p>
  <% end %>
</div>
<div class="page-header">
  <h1>Starport Management</h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "ripley.jpg", class: "max-height-image" %>
      <div class="caption">
        <h3>User Dashboard</h3>
        <p>Visit your user dashboard. Build your ship and pilot it.</p>
        <p><%= link_to "User Dashboard", dashboard_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "troopers.jpg", class: "max-height-image" %>
      <div class="caption">
        <h3>People</h3>
        <p>View a list of people</p>
        <p><%= link_to "Manage People", people_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "ship.jpg", class: "max-height-image" %>
      <div class="caption">
        <h3>Ships</h3>
        <p>View a list of ships</p>
        <p><%= link_to "Manage Ships", people_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag "xwing.svg", class: "max-height-image" %>
      <div class="caption">
        <h3>Manage SVG Images</h3>
        <p>SVG Images are used to build and customize ships</p>
        <p><%= link_to "Manage SVG Images", svg_images_path, :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<div class="page-header">
  <h1>Starport Schema</h1>
</div>
<div class="row">
  <div class="jumbotron text-center">
    <a href="/erd.svg">
      <img src="/erd.svg" style="max-width: 500px; margin: 0 auto;">
    </a>
    <p>
      <a href="/erd.svg" class="btn btn-default">View Detailed ERD</a>
      <a href="/erd.pdf" class="btn btn-default">View Rails ERD</a>
    </p>
  </div>
</div>

