<p id="notice"><%= notice %></p>

<h2>Image:</h2>
<div class="row">
  <figure class="col-md-3">
    <img src="<%= @svg_image.random_colorized_image_url %>">
  </figure>
  <figure class="col-md-3">
    <img src="<%= @svg_image.colorized_image_url('red') %>">
  </figure>
  <figure class="col-md-3">
    <img src="<%= @svg_image.colorized_image_url('green') %>">
  </figure>
  <figure class="col-md-3">
    <img src="<%= @svg_image.colorized_image_url('blue') %>">
  </figure>
</div>

<h2>Data:</h2>
<pre><code><%= @svg_image.data %></code></pre>

<h2>Name:</h2>
<p><%= @svg_image.name %></p>

<h2>Source:</h2>
<p>
<%= @svg_image.source %>
</p>

<%= link_to 'Edit', edit_svg_image_path(@svg_image) %> |
<%= link_to 'Back', svg_images_path %>
